/* dede58.com 做最好的织梦模板 */
@font-face {
	font-family: 'Julius Sans One';
	font-style: normal;
	font-weight: 400;
	src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(../img/iU65JP9acQHPDLkdalCF7u921tOcMok2fHawGmtxikA.ttf) format('truetype');
}
